[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/orangepi/Desktop/Menu_extra.desktop]
row=1
col=13

[/home/orangepi/Desktop/Autoarranque.desktop]
row=1
col=14

[/home/orangepi/Desktop/Abrir_SVXLink.desktop]
row=4
col=11

[/home/orangepi/Desktop/DV4mini.desktop]
row=4
col=6

[/home/orangepi/Desktop/Editar_ESPECIAL.desktop]
row=5
col=2

[/home/orangepi/Desktop/SVXLink.desktop]
row=5
col=11

[/home/orangepi/Desktop/DV4mini0.desktop]
row=6
col=6

[/home/orangepi/Desktop/Editar_dump1090.desktop]
row=5
col=7

[/home/orangepi/Desktop/AbrirsoloYSF.desktop]
row=4
col=5

[/home/orangepi/Desktop/DstarRepeater config.desktop]
row=5
col=9

[/home/orangepi/Desktop/DMRPLUS.desktop]
row=4
col=1

[/home/orangepi/Desktop/EditarDExtraBlueDV.desktop]
row=7
col=3

[/home/orangepi/Desktop/Abrir_YSF2DMR.desktop]
row=4
col=12

[/home/orangepi/Desktop/Abrir_DMR2NXDN.desktop]
row=4
col=14

[/home/orangepi/Desktop/BM.desktop]
row=4
col=0

[/home/orangepi/Desktop/YSFGateway.desktop]
row=4
col=10

[/home/orangepi/Desktop/Qtel.desktop]
row=6
col=11

[/home/orangepi/Desktop/MMDVM.desktop]
row=4
col=3

[/home/orangepi/Desktop/Dialer.desktop]
row=5
col=6

[/home/orangepi/Desktop/Config Fusion.desktop]
row=5
col=10

[/home/orangepi/Desktop/Actualiza_imagen.desktop]
row=0
col=13

[/home/orangepi/Desktop/Editar_solofusion.desktop]
row=5
col=5

[/home/orangepi/Desktop/Actualizar_iconos.desktop]
row=0
col=12

[/home/orangepi/Desktop/Reiniciar_IMAGEN.desktop]
row=0
col=14

[/home/orangepi/Desktop/Editar_ambe_server.desktop]
row=2
col=10

[/home/orangepi/Desktop/Editar Radio.desktop]
row=5
col=3

[/home/orangepi/Desktop/ActualizarBlueDB.desktop]
row=1
col=1

[/home/orangepi/Desktop/dVPTR.desktop]
row=0
col=10

[/home/orangepi/Desktop/Config.desktop]
row=5
col=8

[/home/orangepi/Desktop/dump1090.desktop]
row=4
col=7

[/home/orangepi/Desktop/Abrir_ambe_server.desktop]
row=1
col=10

[/home/orangepi/Desktop/Editar_BM.desktop]
row=5
col=0

[/home/orangepi/Desktop/Editar_DMR2YSF.desktop]
row=5
col=13

[/home/orangepi/Desktop/Borrar_log.desktop]
row=2
col=14

[/home/orangepi/Desktop/ActualizaIDS.desktop]
row=2
col=12

[/home/orangepi/Desktop/Remote control.desktop]
row=6
col=8

[/home/orangepi/Desktop/solodstar.desktop]
row=5
col=4

[/home/orangepi/Desktop/Top.desktop]
row=1
col=12

[/home/orangepi/Desktop/D-Star.desktop]
row=4
col=8

[/home/orangepi/Desktop/Editar_DMRPLUS.desktop]
row=5
col=1

[/home/orangepi/Desktop/Editor.desktop]
row=0
col=4

[/home/orangepi/Desktop/EditarDExtraircDDB.desktop]
row=1
col=0

[/home/orangepi/Desktop/Dstar_solo.desktop]
row=4
col=9

[/home/orangepi/Desktop/AbrirsoloDstar.desktop]
row=4
col=4

[/home/orangepi/Desktop/Editar_MMDVMDMR2NXDN.desktop]
row=5
col=14

[/home/orangepi/Desktop/Abrir_ESPECIAL.desktop]
row=4
col=2

[/home/orangepi/Desktop/Abrir_DMR2YSF.desktop]
row=4
col=13

[/home/orangepi/Desktop/Editar_YSF2DMR.desktop]
row=5
col=12

[/home/orangepi/Desktop/CopiarRestaurar.desktop]
row=2
col=13

[/home/orangepi/Desktop/ActualizarYSF.desktop]
row=6
col=10

[/home/orangepi/Desktop/Notas_version.desktop]
row=1
col=4

[Papelera]
row=2
col=4

