[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=info_ip
Comment=
Exec=/home/orangepi/qt/qt_info_ip_orange
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false

